/* ==========================================================================
   global styles
   ========================================================================== */
   
body {
	transition: background-color 2s;
}
    
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
    vertical-align: middle;
}

.comment-content img,
.entry-content img,
.entry-summary img,
#site-header img,
.widget img,
.wp-caption {
	max-width: 100%;
}

textarea {
    resize: vertical;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	text-transform: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/**
 * Repeatable Patterns
   ===================================== */

input,
textarea {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	color: #2b2b2b;
	font-size: 0.9em;
	padding: 8px 10px 7px;
	box-shadow:  none !important;
}

textarea {
	width: 100%;
}

input:focus,
textarea:focus {
	border: 1px solid rgba(0, 0, 0, 0.3);
	outline: 0;
}

/* Buttons */

button,
.contributor-posts-link,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid transparent;
	border-bottom: 1px solid $cyan;
	border-radius: 2px;
	color: #52bebc;
	font-size: 1.2em;
	font-weight: 700;
	padding: 10px 30px 11px;
	text-transform: uppercase;
	vertical-align: bottom;
	background: transparent;
}

button:hover,
button:focus,
.contributor-posts-link:hover,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	border-bottom: 1px solid $cyan-dark;
	color: $cyan-dark;
}

button:active,
.contributor-posts-link:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-bottom: 1px solid $cyan-dark;
	color: $cyan-dark;
}

form p {
	font-family: $sanchez;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
	border-color: #ccc;
	margin-bottom: .4em;
}

input[type="file"], input[type="checkbox"], input[type="radio"], select {
	margin-bottom: .4em;
}

.wpcf7-form  {
	.wpcf7-not-valid-tip {
		font-size: .8em;
		color: $red;
	}
	
	.wpcf7-validation-errors {
		background-color: $yellow;
		border: none; 
		font-size: .8em;
		padding: 1.5em 1em;
		color: #fff;
		text-align: center;
		float: left;
		width: 100%;
	}
	
	.wpcf7-mail-sent-ok {
		background-color: $cyan;
		border: none; 
		font-size: .8em;
		padding: 1.5em 1em;
		color: #fff;
		text-align: center;
		float: left;
		width: 100%;
	}
}
/* Placeholder text color -- selectors need to be separate to work. */

::-webkit-input-placeholder {
	color: #939393;
}

:-moz-placeholder {
	color: #939393;
}

::-moz-placeholder {
	color: #939393;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #939393;
}

/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object,
video {
	margin-bottom: 24px;
	max-width: 100%;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
	margin-bottom: 0;
}

/* Alignment */

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* ==========================================================================
	Helpers & Animation
   ========================================================================== */ 

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
	Header
   ========================================================================== */ 


/* Header */
#header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
    
    @media screen and (min-width: $small-screen) { 
	    opacity: 1 !important;
	    display: block;
	}

	body &.no-active {
		opacity: 0 !important;
	}
	
	//estilos animacion scrolldown
	& .menu-header {
		-webkit-transition: visibility .4s .2s, margin-top .2s;
		-moz-transition: visibility .4s .2s, margin-top .2s;
		transition: visibility .4s .2s, margin-top .2s;
	}
	
	//estilos scrolldown
	&.down {
	    background: none !important;
	    
	    .menu-header, .textwidget, #lang_sel_list {
		    visibility: hidden;
		    margin-top:-4em;
	    }
    }
    
    #site-title h1 {
	   text-align: center;
	    margin: 0 .5em 0;
	    
	    @media screen and (min-width: $small-screen) { 
		    float: left; 
	    }
    }
	
}

.admin-bar header {
	margin-top: 30px;
}


// header motion
#header {
	-webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.38s;
    -moz-transition-duration: 0.38s;
    -o-transition-duration: 0.38s;
    transition-duration: 0.38s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    padding: 15px 10px 15px;
    -webkit-transform: translate(0%, 0px);
    -moz-transform: translate(0%, 0px);
    -ms-transform: translate(0%, 0px);
    -o-transform: translate(0%, 0px);
    transform: translate(0%, 0px);
    
    @media screen and (min-width: $medium-screen) {
	    #header {
	   	 padding: 45px 15px;
	   	 margin-left: -15px;
		}
	}
}

#header.minimized {
    padding: 0px 10px;
    background: #fff;
    top: 0;
    
    @media screen and (min-width: $medium-screen) {
		& {
		    top: 0;
		}	
    }
    
    .logo img {
	    max-width: 35px;
	    
	    @media screen and (min-width: $small-screen) {
		    max-width: 45px;
	    }
    }

}

/* ==========================================================================
	Footer
   ========================================================================== */ 
   
footer {
   background: #666;
   padding: 1em 0;
   float: left;
   width: 100%;
}

.widget-footer {
	text-align: center;
}

.widget-footer a {
	color: #52bebc;
	text-decoration: underline;
}


