/* ==========================================================================
   Pages Content 
   ========================================================================== */
   
// pagina inicio
#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
} 

#content {
	height: 100%;
} 

#container {
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top:0;
}

#main {
	position: absolute;
	top:0;
	margin: 10em auto 0;
	max-width: 90%;
	left: 0;
	right: 0;
	text-align: center;
	
	&::before {
		content: '';
		//background: url(images/assets/border.png) no-repeat;
		width: 1024px;
		height: 529px;
		display: block;
	}
	
}

.img {
	position: absolute;
	top: 0;
	max-width: 100%;
	left: 0;
	right: 0;
	text-align: center;
}

.entry-img {
	position: absolute;
	top:20%;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.fullscreen-cover {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.cover {
	background-image: url(images/assets/cover01.jpg);
	background-blend-mode: multiply;
	background-position: top center;
    transform-origin: 50% 80%;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.block {
	padding: 7em 0 7em;
}

.block h1 {
	font-size: 1.4em;
	text-transform: uppercase;
} 

.column {
	ul {
		margin: 0;
	}
	
	h3 {
		margin-bottom: 0;
	}
}


.col-1 {
		margin-top: 8em;
}

.col-2 {
		margin-top: 2em;
}

.col-3 {
		margin-top: 8em;
}

.col-4 {
		margin-top: 3em;
}

#services {
	background: #f7f7f1;
}

#contact {
	background: #f1f4f0;
}

#projects {
	
	.module {
		padding: 6em 0 10em;
		float: left;
		width: 100%;
		
		.text {
			margin-left: 1em;
			margin-bottom: 2em;
			
			h1 {
				margin-bottom: 0;
			}
			
			p {
				margin-top: 0;
			}
			
			a {
				color: #737373;
				text-decoration: underline;
				font-size: .8em;
				letter-spacing: 0.08em;
			}
		}
	}
	
	.row {
		position: relative;
		
	}
	
	.first-module {
			.up  {
				bottom: -5em;
				position: absolute;
			}
		}
		
	.third-module {
	    .up {
		  bottom: 2em;
		  position: absolute;
		}
	}
	
}